## DATA PROCESSING

In [3]:
import numpy as np
import pandas as pd

In [4]:
credits_df=pd.read_csv("credits.csv")
movies_df=pd.read_csv("movies.csv")

In [5]:
#show all the columns and rows 
#pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
#movies_df

In [6]:
#merge selon a constant 
movies_df=movies_df.merge(credits_df,on='title')

In [7]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.5+ KB

In [8]:
# je travaille que sur ces valeurs 
movies_df=movies_df[["id","title","genres","keywords","cast","crew","overview"]]
movies_df.isnull().sum()

id          0
title       0
genres      0
keywords    0
cast        0
crew        0
overview    3
dtype: int64

In [9]:
# cette ligne supprime toutes les lignes de movies_df qui 
# contiennent des valeurs manquantes, en modifiant
#  directement le DataFrame original.
movies_df.dropna(inplace=True)

In [10]:
movies_df.duplicated().sum()

0

In [11]:
movies_df.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
import ast

In [13]:
#convertir une chaine de caractere en une liste 
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [14]:
movies_df['genres'] = movies_df['genres'].apply(convert)
print(movies_df['genres'])

movies_df['keywords'] = movies_df['keywords'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4803                        [Action, Crime, Thriller]
4804                                [Comedy, Romance]
4805               [Comedy, Drama, Romance, TV Movie]
4806                                               []
4807                                    [Documentary]
Name: genres, Length: 4805, dtype: object

In [15]:
def convert3 (obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [16]:
movies_df['cast']=movies_df['cast'].apply(convert3)

In [17]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
    
    return L

In [18]:
movies_df['crew']=movies_df['crew'].apply(fetch_director)

In [19]:
#lambda cest comme une fonction anonyme ou le x est le parametre et 
# apply cest pour chaque elment de ;a colonne
movies_df['overview']=movies_df['overview'].apply(lambda x:x.split())

In [20]:
#enlever tt les espaces
movies_df['genres']=movies_df['genres'].apply( lambda x:[i.replace(" ",'') for i in x])
movies_df['keywords']=movies_df['keywords'].apply( lambda x:[i.replace(" ",'') for i in x])
movies_df['cast']=movies_df['cast'].apply( lambda x:[i.replace(" ",'') for i in x])
movies_df['crew']=movies_df['crew'].apply( lambda x:[i.replace(" ",'') for i in x])

In [21]:
movies_df['tags']=movies_df['overview']+movies_df['crew']+movies_df['genres']+movies_df['cast']+movies_df['keywords']

In [22]:
movies_df.head()

,id,title,genres,keywords,cast,crew,overview,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili...","[John, Carter, is, a, war-weary,, former, mili..."

In [23]:
new_df=movies_df[['id','title','tags']]

In [24]:
# transformer tt le cotenue du tags en une seule chaine
new_df['tags']=new_df['tags'].apply(lambda x:' '.join(x))

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16756\140593142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:' '.join(x))

In [25]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. JamesCameron Action Adventure Fantasy ScienceFiction SamWorthington ZoeSaldana SigourneyWeaver cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [26]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16756\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [27]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. jamescameron action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

## Prediction

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
# considérer uniquement les 5000 mots les plus fréquents dans le corpus de documents 
# pour construire la matrice des caractéristiques 
# stop_words mot à ignorer 
cv = CountVectorizer(max_features=5000, stop_words='english')

In [29]:
cv.fit_transform(new_df['tags']).toarray().shape
#(nbr de ce qui ya dans la colonne tag , vocabulaire)

(4805, 5000)

In [30]:
#frequence dapparition de chaque mot dans chaque 
# ligne de tags si 1 apparait sinon 0
vectors= cv.fit_transform(new_df['tags']).toarray()

In [31]:
vectors[5]
print(cv.get_feature_names_out())

['000' '007' '10' ... 'zone' 'zoo' 'zooeydeschanel']

In [32]:
%pip install nltk
import nltk #natural langage toolkit 
from nltk.stem.porter import PorterStemmer

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: nltk in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [33]:
"""Stemming is the process of reducing words to their 
base or root form (e.g., "playing" becomes "play")."""

#this is normalisation tho make it easy to process

ps = PorterStemmer()
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16756\2126878323.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
#the similarty between each word 
cosine_similarity(vectors)

array([[1.        , 0.08964215, 0.05976143, ..., 0.02548236, 0.02672612,
        0.        ],
       [0.08964215, 1.        , 0.0625    , ..., 0.02665009, 0.        ,
        0.        ],
       [0.05976143, 0.0625    , 1.        , ..., 0.02665009, 0.        ,
        0.        ],
       ...,
       [0.02548236, 0.02665009, 0.02665009, ..., 1.        , 0.07150969,
        0.0489116 ],
       [0.02672612, 0.        , 0.        , ..., 0.07150969, 1.        ,
        0.05129892],
       [0.        , 0.        , 0.        , ..., 0.0489116 , 0.05129892,
        1.        ]])

In [43]:
distances = cosine_similarity(vectors)
def recommend(movie):
    try:
        # Find the index of the movie in the DataFrame
        movie_index = new_df[new_df['title'] == movie].index[0]
        
        # Sort the movies based on distance and get the top 5 most similar
        movie_list = sorted(list(enumerate(distances[movie_index])), reverse=True, key=lambda x: x[1])[1:6]
        
        # Print the titles of the recommended movies
        for i in movie_list:
            print(new_df.iloc[i[0]].title)
    
    except IndexError:
        # This will handle the case when the movie is not found in the DataFrame
        print("Movie not found")

In [44]:
recommend('Lina')

Movie not found